<!-- TOP SLICE -->
<section class="slice slice-lg section-rotate">
    <div class="section-inner bg-gradient-info">
        <span class="section-inner-bg"></span>
    </div>

    <!-- main text -->
    <div class="container mt-xl">
        <div class="row align-items-center">
            <div class="col-lg-10 pl-0">
                <h1 class="text-white mb-3">Les Services</h1>
                <p class="lead text-white lh-180">Retrouvez ici tous les services disponibles sur AwaBooking !</p>
            </div>
            <%= search_form_for @q do |f| %>
              <%= f.search_field :name_cont %>
            <%= f.submit %>
            <% end %>
            <%= link_to "Voir tout les services", services_path, class: "btn-sm btn-circle btn-danger" %>

        </div>
    </div>
</section>




<section class="slice-lg bg-transparent" id="top-index">
    <div class="container mt-5">
        <div class="row">

            <% @ransack.each do |service| %>

            <div class="col-lg-3 pt-5">
                <div class="card overflow-hidden" data-animate-hover="2" id="card-index">

                    <div class="card-body text-center">

                        <h5 class="card-title mb-4">
                            <a href="<%= service_path(service) %>" class="text-dark">
                                <%=service.name%>
                            </a>
                        </h5>

                        <div class="mt-3">

                            <p class="text-muted mb-2">
                                <i class="far fa-clock"></i>
                                <%=service.duration/60%> min </p>

                            <hr class="m-3">


                            <a href="<%=teacher_path(service.teacher)%>" class="text-muted mb-0">
                                <strong>Professeur</strong> <br>
                                <i class="fas fa-user-circle text-danger"></i> &nbsp;
                                <%=service.teacher.first_name%>
                                <%=service.teacher.last_name.upcase%>
                            </a>

                            <hr class="m-3">

                            <a href="<%=establishment_path(service.establishment)%>" class="text-muted mb-0">
                                <strong>Établissement</strong> <br>
                                <i class="fas fa-user-circle text-success"></i> &nbsp;
                                <%=service.establishment.name%> <br>
                                <p class="text-light">Salle : <strong>
                                        <%=service.resource.name%></strong></p>
                            </a>

                            <!-- href à changer (mettre lien pour résa) -->
                            <a href="<%=service_events_path(service.id)%>" class="text-info">
                                <u>Réserver un créneau </u> &nbsp; <i class="fas fa-angle-right"></i>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
            <% end %>

        </div>
    </div>
</section>