<br><br>



<main class="registers-<%= resource.class.name %>">
    <div class="container d-flex align-items-center">
        <div class="col">
            <div class="row justify-content-center">

                <% if user_signed_in? %>
                    <div class="card">
                        <%= image_tag ("ananas.jpg"), class: "card-img-top" %>
                        <div class="card-body text-center">
                            <h5 class="heading h5 mb-1">
                                <span class="card-title">Vous êtes déjà connecté avec un compte, veuillez vous déconnecter pour accéder à un autre profil.</span>
                            </h5> 
                            <div class="d-flex justify-content-between">
                                <%= link_to "Retour à l'accueil", root_path, class: "btn btn-warning mt-3" %>
                                <%= link_to "Déconnection", get_logout, class: "btn btn-danger mt-3", method: :delete %>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <div class="col-md-8 col-lg-6">
                        <div class="text-center mb-5">
                            <% if resource.class.name == "Student" %>
                                <h6 class="h3">Créer un compte <%= resource.class.name %></h6>
                                <p class="text-muted mb-0">Des centaines d'activités à portée de main</p>
                            <% elsif resource.class.name == "Teacher" %>
                                <h6 class="h3">Créer un compte</h6>
                                <p class="text-muted mb-0">Un gestion de votre emploi du temps simplifiée</p>
                            <% else resource.class.name == "Establishment" %>
                                <h6 class="h3">Créer un compte</h6>
                                <p class="text-muted mb-0">Une gestion de votre établissement simplifiée</p>
                            <% end %>
                            <!-- a voir si on affiche le nom de la page (eleve student ...) -->
                        </div>
                        <span class="clearfix"></span>

                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>

                            <div class="form-group">
                                <label class="form-control-label">Adresse email</label>
                                <div class="input-group input-group-transparent">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <%= f.email_field :email, class: "form-control form-control-label", autofocus: true, autocomplete: "email", placeholder: "exemple@gmail.com" %>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label class="form-control-label">Mot de passe</label>
                                <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %><br />
                                <div class="input-group input-group-transparent">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <%= f.password_field :password, class: "form-control", id: "input-password", autocomplete: "new-password", placeholder: "********"  %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Confirmer le mot de passe</label>
                                <div class="input-group input-group-transparent">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <%= f.password_field :password_confirmation, class: "form-control", id: "input-password-confirm", autocomplete: "new-password", placeholder: "********" %>
                                </div>
                            </div>

                            <% if resource.class.name == "Teacher" || resource.class.name == "Student" %>
                                <div class="form-group">
                                    <label class="form-control-label">Nom</label>
                                    <div class="input-group input-group-transparent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <%= f.text_field :last_name, class: "form-control form-control-label", autofocus: true, placeholder: "Dupont" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Prénom</label>
                                    <div class="input-group input-group-transparent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <%= f.text_field :first_name, class: "form-control form-control-label", autofocus: true, placeholder: "Michou" %>
                                    </div>
                                </div>
                            <% elsif resource.class.name == "Establishment" %>
                                <div class="form-group">
                                    <label class="form-control-label">Nom de votre établissement</label>
                                    <div class="input-group input-group-transparent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <%= f.text_field :name, class: "form-control form-control-label", autofocus: true, placeholder: "Raison sociale" %>
                                    </div>
                                </div>                     
                            <% end %>
                            
                            <div class="form-group">
                                <label class="form-control-label">Téléphone</label>
                                <div class="input-group input-group-transparent">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <%= f.text_field :phone, class: "form-control form-control-label", autofocus: true, placeholder: "01 23 45 67 89" %>
                                </div>
                            </div>

                            <% if resource.class.name == "Teacher" || resource.class.name == "Establishment" %>
                                <div class="form-group">
                                    <label class="form-control-label">N° de SIRET</label>
                                    <div class="input-group input-group-transparent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <%= f.text_field :siret, class: "form-control form-control-label", autofocus: true, placeholder: "843 586 147" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Description</label>
                                    <div class="input-group input-group-transparent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <%= f.text_field :description, class: "form-control form-control-label", autofocus: true, placeholder: "Description de vos activités" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Adresse complète</label>
                                    <div class="input-group input-group-transparent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <%= f.text_field :address, class: "form-control form-control-label", autofocus: true, placeholder: "5 place du petit Scel, 34000 Montpellier" %>
                                    </div>
                                </div>

                                <!-- A rajouter en Base de donnée -->
                                <% if false %>
                                <% elsif resource.class.name == "Student" %>


                                <div class="form-group">
                                    <label class="form-control-label">Ville de résidence</label>
                                    <div class="input-group input-group-transparent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <%= f.text_field :address, class: "form-control form-control-label", autofocus: true, placeholder: "Montpellier" %>
                                    </div>
                                </div>
                                <% end %>
                                <!-- Si jamais besoin demander à Titi il sait tout sur tout -->


                                <% end %>

                                
                            

                            <div id="form-buttons">
                                <div class="d-flex justify-content-center" id="button_create_account">
                                   <%= f.submit "Créer un compte", class: "btn btn-primary btn-circle" %>
                                </div>
                                <br>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-secondary btn-icon">
                                        <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                                        <span class="btn-inner--text"><%= link_to "Page d'accueil", root_path %></span>
                                    </button>
                                    <div class="col-sm-5 text-sm-right">
                                        <span class="small d-sm-block d-md-inline">Déjà inscrit ?</span>
                                        <%= render "devise/shared/links" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</main>
