<main>

<%= render partial: 'layouts/header_profile', locals: {page_type: 'student'} %> 

    <section class="pt-5 pt-lg-0 bg-secondary">
        <div class="container">
            <div class="row">

                <%= render partial: 'layouts/card_profile', locals: {page_type: 'student'} %> 

                <div class="col-md-8 mt-lg-3 mb-5">
                    <div class="card">
                        <section class="slice slice-xl h-100vh d-flex align-items-center pt-5 pb-2 border-0">
                            <div class="container ">
                                <div class="row justify-content-center">
                                    <div class="col-lg-7">
                                        <div class="text-center">
                                            <div class="icon icon-xl icon-shape icon-pink rounded-circle">
                                                <i class="fas fa-user-circle"></i>
                                            </div>
                                            <h6 class="h4 my-4">Votre profil est vide.</h6>
                                            <p class="px-5">
                                                Vous pourrez bientôt profiter de toutes les fonctionnalités. En attendant réservez un cours dans les établissements près de chez vous.
                                            </p>
                                            <a href="<%= establishments_path %>" class="btn btn-outline-info btn-circle mt-5">Voir la liste des écoles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% if current_user %>
        <%= render 'layouts/logged' %>
    <% else %>
        <%= render 'layouts/guest' %>
    <% end %>

</main>