<!-- CARD 1 -->
                                  <div class="col-lg-3">
                                      <div class="card card-stats mb-4">
                                          <div class="card-body">
                                              <div class="d-flex">
                                                  <div>
                                                      <span class="icon icon-sm text-warning">
                                                          <%= image_tag 'img/icons/dusk/svg/add.svg' %>
                                                        </span>
                                                  </div>
                                                  <div class="pl-4">
                                                      <h5 class="mb-1"><%= @resources.count %> salles référencées</h5>
                                                      <!-- <span class="text-muted">Salles référencées</span> -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <!-- CARD 2 -->
                                  <div class="col-lg-3">
                                      <div class="card card-stats mb-4">
                                          <div class="card-body">
                                              <div class="d-flex">
                                                  <div>
                                                      <span class="icon icon-sm text-warning">
                                                          <%= image_tag 'img/icons/dusk/svg/available-updates.svg' %>
                                                        </span>
                                                  </div>
                                                  <div class="pl-4">
                                                      <h5 class="mb-1"><%= @active.length %> salle(s) disponibles</h5>
                                                      <!-- <span class="text-muted">Open invoices</span> -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <!-- CARD 3 -->
                                  <div class="col-lg-3">
                                      <div class="card card-stats mb-4">
                                          <div class="card-body">
                                              <div class="d-flex">
                                                  <div>
                                                      <span class="icon icon-sm text-warning">
                                                        <%= image_tag 'img/icons/dusk/png/queue.png' %>
                                                      </span>
                                                  </div>
                                                  <div class="pl-4">
                                                      <h5 class="mb-1"><%= @teachers.count %> professeur(s) affilié(s)</h5>
                                                      <!-- <span class="text-muted">Open invoices</span> -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <!-- CARD 4 -->
                                  <div class="col-lg-3">
                                      <div class="card card-stats mb-4">
                                          <div class="card-body">
                                              <div class="d-flex">
                                                  <div>
                                                      <span class="icon icon-sm text-warning">
                                                          <%= image_tag 'img/icons/dusk/svg/notification.svg' %>
                                                        </span>
                                                  </div>
                                                  <div class="pl-4">
                                                      <h5 class="mb-1">0 paiement(s) en attente</h5>
                                                      <!-- <span class="text-muted">Monthly payments</span> -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                    