
<section id="top-index">

    <div class="section-inner bg-gradient-primary">
        <span class="section-inner-bg"></span>
    </div>

    <!--illustation -->
    <div class="position-absolute middle right-0 col-lg-7 col-xl-7 d-none d-lg-block mt-2">
        <%= image_tag 'img/prv/macbook-pro-clay.png', alt: "Image placeholder", class: "img-fluid d-none d-lg-block mb-xl" %>
    </div>

    <!-- header text -->
    <div class="container pt-xl">
        <div class="row align-items-center">
            <div class="col-lg-6 mt-xl-5">
                <h1 class="text-white mb-3">One account to rule them all *</h1>
                <p class="lead text-white">* Un compte pour tous les gouverner</p>
                <br>
                <h5 class="lead text-white pb-2"><strong>Simplifiez-vous la vie avec Stomy Booksy !</strong></h5>
                <h5 class="lead text-white pb-1">Les établissements et intervenants de votre région <br> sont sur notre site ! </h5>
                <h5 class="lead text-white">Gérez toutes vos activités depuis votre dashboard, un agenda personnalisé vous attend.</h5>
            </div>
        </div>
    </div>

</section>


<!-- BUTTONS -->
<section class="slice p-0">

    <div class="row d-flex justify-content-between">

        <div class="col-4 d-flex justify-content-center">
            <a href="#map" class="btn btn-outline-info btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me" data-scroll-to-offset="40">
                <span class="btn-inner--text">Carte des établissements</span>
                <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            </a>
        </div>

        <div class="col-4 d-flex justify-content-center">
            <a href="<%=teachers_path%>" class="btn btn-outline-danger btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me" data-scroll-to-offset="40">
                <span class="btn-inner--text">Les professeurs</span>
                <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            </a>
        </div>

        <div class="col-4 d-flex justify-content-center">
            <a href="<%=establishments_path%>" class="btn btn-outline-success btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me" data-scroll-to-offset="40">
                <span class="btn-inner--text">Les établissements</span>
                <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            </a>
        </div>

    </div> 

    <!-- tongue (arrow) -->
    <div class="">
        <div class="p-5">
            <a href="#" class="tongue tongue-bottom scroll-me"><i class="fas fa-angle-down"></i></a>
        </div>
    </div>

</section>


<!-- TITLE MAP -->
<section class="slice bg-cover" >
    <div class="container">
        <div class="text-center">
            <h2 class="heading display-4 mb-2">Trouver un établissement</h2>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <p class="lead lh-180">Une carte dynamique à votre diposition. <br> Remplissez la barre de recherche et laissez-vous guider.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- MAP -->
<%= render 'map' %>


<!-- when USER is logged IN -->
<% if !current_user  %>

<!-- USER TYPE PRENSENTATION CARDS -->
<section class="bg-cover pt-1" id="index-spotlight" >

        <div class="container pt-md mb-150">

            <!-- titles -->
            <div class="row row-grid justify-content-center mb-lg">
                <div class="col-lg-8 text-center">
                    <h4 class="display-4 mb-2">Qui êtes vous ?</h4>
                    <h6 class="lead text-muted">Choisissez le compte qui vous correspond</h6>
                    <!-- <h6 class="text-uppercase ls-2 text-light-white font-weight-700">Choisissez le compte qui vous correspond</h6> -->
                </div>
            </div>

            <!-- cards -->
            <div class="card flex-column flex-md-row" id="card-group-index">
        
                <!-- left -->
                <div class="card card-pricing box-shadow-1 text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'prof2.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Professeur</h5></li>
                                    <li>Concentrer vous sur votre activité</li>
                                    <li>Intervenez dans plusieurs établissements </li>
                                </ul>
                                <a href="<%= new_teacher_registration_path %>" class="btn btn-danger btn-circle mb-3 font-weight-bold">M'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>

        
                <!-- middle -->
                <div class="card card-pricing zoom-in shadow-lg rounded text-center border-0" data-animate-hover="2" >
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'student1.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Particulier</h5></li>
                                    <li>Découvrez de nouvelles activités</li>
                                    <li>Adhérez, réservez, annulez en toute liberté</li>
                                </ul>
                                <a href="<%= new_student_registration_path %>" class="btn btn-warning btn-circle mb-3 font-weight-bold">M'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- right  -->
                <div class="card card-pricing box-shadow-1 text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'etabl.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Établissement</h5></li>
                                    <li>Créez vos ressources, gérez vos adhésions</li>
                                    <li>Simplifiez vous la comptabilité</li>
                                </ul>
                                <a href="<%=new_establishment_registration_path%>" class="btn btn-success btn-circle mb-3 font-weight-bold">M'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>

<!-- WHAT WE DO (icon cards) -->
<section class="slice slice-lg mt-0 pt-0" id="we-do">
    <div class="container">

            <!-- title - text -->
            <div class="mb-md text-center">
                <span class="badge badge-lg badge-success badge-pill">Notre process</span>
                <h3 class="display-4 mt-4">Réservations centralisés</h3>
                <div class="fluid-paragraph text-center mt-4">
                    <p class="lead lh-180"> <strong>  Notre but est de vous simplifier la vie. </strong> <br> Que vous soyez un particulier, une association, un intervenant, <strong>Stomy Booksy</strong> vous propose un service rassemblant les features nécessaires pour vous organiser et <em>garder l'esprit libre.</em> </p>
                </div>
            </div>

            <!-- cards -->
            <div class="row row-grid">

                <!-- left -->
                <div class="col-lg-4">
                    <div class="card shadow shadow-lg--hover">
                        <div class="py-5 text-center">
                            <div class="icon icon-xl icon-shape rounded-circle icon-teal">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                        </div>
                        <div class="px-4 pb-5 text-center">
                            <h5 class="font-weight-bold">Dashboard</h5>
                            <p class="mt-2">Un accès simple et intuitif à vos <br> rendez-vous, votre agenda sur une semaine, vos activités en cours</p>
                        </div>
                    </div>
                </div>

                <!-- middle -->
                <div class="col-lg-4">
                    <div class="card shadow shadow-lg--hover">
                        <div class="py-5 text-center">
                            <div class="icon icon-xl icon-shape rounded-circle icon-pink">
                                <i class="fas fa-sitemap"></i>
                            </div>
                        </div>
                        <div class="px-4 pb-5 text-center">
                            <h5 class="font-weight-bold">Tout en 1</h5>
                            <p class="mt-2">Marre d'oublier vos mots de passe ? Retrouvez toutes vos activités <br> <strong>en un seul compte</strong> </p>
                        </div>
                    </div>
                </div>

                <!-- right -->
                <div class="col-lg-4">
                    <div class="card shadow shadow-lg--hover">
                        <div class="py-5 text-center">
                            <div class="icon icon-xl icon-shape rounded-circle icon-yellow">
                                <i class="fas fa-fingerprint"></i>
                            </div>
                        </div>
                        <div class="px-4 pb-5 text-center">
                            <h5 class="font-weight-bold">Portail unique</h5>
                            <p class="mt-2">Une plateforme rassemblant les acteurs sociaux et culturels de votre région, dans le souci d'une lisibilité simplifiée</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>

<% end %>


<!-- when USER is logged OUT -->
<% if !current_user  %>

<% end %>


<!-- TESTIMONIALS CARROUSSEL + LOGOS (partnership) -->
<section class="slice slice-lg bg-gradient-secondary">
    <div class="container">

        <!-- reversed wave-->
        <div class="shape-container" data-shape-style="wavify" data-shape-position="top" data-shape-orientation="inverse">
            <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="shape-fill-white" data-toggle="wavify">
                <defs></defs>
                <path d="" class="shape-fill-white" />
            </svg>
        </div>

        <!-- title -->
        <div class="text-center mb-5 mt-5">
            <h2 class="heading display-4 mb-2">Ils nous font confiance</h2>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                </div>
            </div>
        </div>

        <!-- action -->
        <div id="carousel-action" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carousel-action" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-action" data-slide-to="1"></li>
                <li data-target="#carousel-action" data-slide-to="2"></li>
            </ol>

            <!-- elements -->
            <div class="carousel-inner">

                <!-- item 1 -->
                <div class="carousel-item active">
                    <div class="card">

                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-2 mr-5">
                                    <%= image_tag 'img/prv/img-1-600x800.jpg', alt: 'avatar', class: 'avatar avatar-lg', style: 'width: 170px; height: auto' %>
                                </div>
                                <div class="col-4 text-center">
                                    <h5 class=" mt-4 mb-0">Mandy Paplusse</h5>
                                    <span class="d-block text-muted">Professeur à @Lorraine Ipsum</span>
                                    <p class="mt-4 lh-180">Dans le cas particulier de l'inertie observée, il est nécessaire de considérer précisément les stratégies emblématiques, très attentativement.</p>
                                    <span class="static-rating static-rating-sm">
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-2 mr-5">
                                    <%= image_tag 'img/prv/img-2-600x800.jpg', alt: 'avatar', class: 'avatar avatar-lg', style: 'width: 170px; height: auto' %>
                                </div>
                                <div class="col-4 text-center">
                                    <h5 class=" mt-4 mb-0">Alain Térieur</h5>
                                    <span class="d-block text-muted">Élève à @Pipotron</span>
                                    <p class="mt-4 lh-180">Vu l'ambiance générale, je n'exclus pas de prendre en considération l'ensemble des améliorations évidentes, si l'on veut s'en sortir un jour.</p>
                                    <span class="static-rating static-rating-sm">
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-2 mr-5">
                                    <%= image_tag 'img/prv/img-3-600x800.jpg', alt: 'avatar', class: 'avatar avatar-lg', style: 'width: 170px; height: auto' %>
                                </div>
                                <div class="col-4 text-center">
                                    <h5 class=" mt-4 mb-0">Céline Évitable</h5>
                                    <span class="d-block text-muted">Directeur de @L'anacrouse</span>
                                    <p class="mt-4 lh-180">Nonobstant la crise actuelle, je recommande d'avoir à l'esprit la globalité des solutions draconiennes, parce que les mêmes causes produisent les mêmes effets.</p>
                                    <span class="static-rating static-rating-sm">
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- swiper pagination -->
            <a class="carousel-control-prev" href="#carousel-action" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black"><i class="fas fa-chevron-left"></i></span>
                <span class="sr-only">Précédent</span>
            </a>

            <a class="carousel-control-next" href="#carousel-action" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="color: black"><i class="fas fa-chevron-right"></i></span>
                <span class="sr-only">Suivant</span>
            </a>

        </div>

    </div>
</section>





<!-- LOGOS (partnership) -->
<section>
    <div class="container d-flex align-items-center">

        <!-- logos  -->
        <div class="my-5">

            <div class="row blurable-item d-flex align-items-center">

                <!-- THP -->
                <div class="col-lg-2 col-md-3 col-4 mb-4 ml-5 mb-md-0">
                    <div class="px-2 py-2 btn-translate--hover">
                        <a href="https://www.youtube.com/watch?v=MKrpadhcC8g">
                            <%= image_tag 'img/prv/partners/thp.png', alt: 'partners-logo', class: 'img-fluid img grayscale' %>
                        </a>
                    </div>
                </div>
                <!-- metropole -->
                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                    <div class="px-2 py-2 btn-translate--hover">
                        <a href="http://www.montpellier3m.fr/">
                        <%= image_tag 'img/prv/partners/metropole.png', alt: 'partners-logo', class: 'img-fluid img grayscale' %>
                        </a>
                    </div>
                </div>
                <!-- l'anacrouse -->
                <div class="col-lg-3 col-md-3 col-4 mb-4 mb-md-0">
                    <div class="px-0 py-0 btn-translate--hover">
                        <a href="https://www.lanacrouse.fr/">
                        <%= image_tag 'img/prv/partners/anacrouse.gif', alt: 'partners-logo', class: 'img-fluid img grayscale' %>
                        </a>
                    </div>
                </div>
                <!-- google -->
                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                    <div class="px-2 py-2 btn-translate--hover">
                        <a href="https://www.youtube.com/watch?v=1tF2dF67Q2c">
                        <%= image_tag 'img/prv/partners/brand-7.png', alt: 'partners-logo', class: 'img-fluid img grayscale' %>
                        </a>
                    </div>
                </div>
                <!-- heroku -->
                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                    <div class="px-2 py-2 btn-translate--hover">
                        <a href="https://www.heroku.com/">
                        <%= image_tag 'img/prv/partners/heroku.png', alt: 'partners-logo', class: 'img-fluid img grayscale' %>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 179">
    <defs>
            <linearGradient id="a" x1="827.92" y1="1.84" x2="827.92" y2="2.9" gradientTransform="translate(-1192600.81 -509.99) scale(1441.34 269.79)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#25283a"/>
                    <stop offset="1" stop-color="#25283a"/>
            </linearGradient>
    </defs>
    <title>bottom-blue-wave</title>
    <path d="M0,274H1440V35Q970.73-61.16,631.77,101.74c-226.2,108.08-436.12,98-631.77-31Z" fill="url(#a)"/>
</svg>