<!-- Maps -->
<div class="map embed-container">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

       #search-box {
        margin: 0 0 30px 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        border-radius: 12px;
      }
    </style>
    <div id="map"></div> 
    <input id="search-box" class="controls form-control" type="text" placeholder="Cherchez une école près de chez vous">

    <!-- places librry -->
    <script> //Script to show the map
        function initMap() {
            //initiate de map
            var map = new google.maps.Map(document.getElementById('map'), {
               center: {lat: 43.610875, lng: 3.876341}, //Centered on Montpellier
               zoom: 15,
               disableDefaultUI: true,
               styles: [ { "featureType": "administrative", "elementType": "geometry", "stylers": [ { "visibility": "off" } ] }, { "featureType": "poi", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit", "stylers": [ { "visibility": "off" } ] } ]

            });

            //create 1 market per establishment (the entire DB is shown for now)
            <%@establishments.each_with_index do |establishment, i|%>
                <%if establishment.latitude && establishment.longitude #in case geocoder did not work%>
                    var marker<%=i%> = new google.maps.Marker({
                      position: {lat: <%=establishment.latitude%>, lng: <%=establishment.longitude%>},
                      map: map,
                      title: '<%=establishment.name%>'
                    });

                    marker<%=i%>.addListener('click', function() {
                        infowindow.setContent('<h6><%=establishment.name%></h6><p><%=establishment.description%></p> <br> <a href="#">http://lien à mettre </a>');
                        infowindow.open(map, this);
                    });
                <%end%>
            <%end%>
            var infowindow = new google.maps.InfoWindow({
                maxWidth: 200
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('search-box');
            var searchBox = new google.maps.places.SearchBox(input);
            // map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(input); //puts the searchbox at the bottom center of the map


            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });

            var placesMarkers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              // Clear out the old markers.
              placesMarkers.forEach(function(marker) {
                marker.setMap(null);
              });
              placesMarkers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                if (!place.geometry) {
                  console.log("Returned place contains no geometry");
                  return;
                }
                var icon = {
                  url: "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };
 
                // Create a marker for each place.
                placesMarkers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                  // Only geocodes have viewport.
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
              map.setZoom(17);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.GOOGLE_MAPS_api_key_clem %>&libraries=places&callback=initMap" async defer></script>


<section class="" >
    
        <div class="container pt-md mb-150">
    
        </div>
    
    </section>


<!-- Spotlight -->
<section class="bg-info bg-cover" id="index-spotlight">
    
        <div class="container pt-md mb-150">
    
            <div class="row row-grid justify-content-center mb-lg">
                <div class="col-lg-6 text-center">
                    <h6 class="text-uppercase ls-2 text-white font-weight-700">utilisateur</h6>
                    <h2 class="heading h1 text-white font-weight-light">Choisissez votre profil</h2>
                </div>
            </div>
    
            <div class="pricing card-group flex-column flex-md-row mb-3">
    
                <!-- LEFT CARD -->
                <div class="card card-pricing box-shadow-1 text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'etabl.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Établissement</h5></li>
                                    <li>Toutes vos activités sur une plateforme</li>
                                    <li>Agenda personnalisé</li>
                                </ul>
                                <button type="button" class="btn-sm btn-success btn-circle mb-3 font-weight-bold">Découvrir</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- MIDDLE CARD -->
                <div class="card card-pricing zoom-in shadow-lg rounded text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'student1.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Particulier</h5></li>
                                    <li>Toutes vos activités sur une plateforme</li>
                                    <li>Agenda personnalisé</li>
                                </ul>
                                <button type="button" class="btn-sm btn-warning btn-circle mb-3 font-weight-bold">Découvrir</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- RIGHT CARD -->
                <div class="card card-pricing box-shadow-1 text-center border-0" data-animate-hover="2">
                    <div class="animate-this">
                        <div class="card card-pricing">
                            <%= image_tag 'prof2.jpg', class: "rounded z-depth-3 img-fluid", style: "width: 100%;" %>
                            <div class="card-body">
                                <ul class="list-unstyled mb-4">
                                    <li><h5 class="text-uppercase ls-2 text-black font-weight-500">Professeur</h5></li>
                                    <li>Toutes vos activités sur une plateforme</li>
                                    <li>Agenda personnalisé</li>
                                </ul>
                                <button type="button" class="btn-sm btn-danger btn-circle mb-3 font-weight-bold">Découvrir</button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </section>
    

