<section class="slice bg-gradient-primary" style="padding-top: 2.5em;" id="calendar-card">
</section>

<section class="slice pb-0 pt-0" style="padding-top: 2.5em;" id="calendar-card">
    <div class="">
        <div class="card-header border-0">
            <div class="row">
                <div class="card col-3 mh-100" data-toggle="sticky" data-sticky-offset="100" style="z-index: 5;">
                    <div class="card-header border-0 row">
                        <div class="col-12 text-center">
                            <h6 class="mb-2">Service choisi:</h6>
                            <p><%=@service.name%></p>
                        </div>
                        <div class="col-6 p-0 text-center">
                            <h6 class="mb-2">Établissement:</h6>
                            <p><%=link_to '<i class="fas fa-pen"></i> &nbsp;'.html_safe, teacher_establishments_path(@teacher)%><%=@establishment.name%>  </p>
                        </div>
                        <div class="col-6 p-0 text-center">
                            <h6 class="mb-2">Professeur:</h6>
                            <p> <%=link_to '<i class="fas fa-pen"></i> &nbsp;'.html_safe, establishment_teachers_path(@establishment)%><%=@teacher.first_name%> <%=@teacher.last_name%></p>
                        </div>
                        <div class="col-6 p-0 text-center">
                            <h6 class="mb-2">Durée:</h6>
                            <p><%=@service.duration/60%> min </p>
                        </div>
                        <div class="col-6 p-0 text-center">
                            <h6 class="mb-2">Salle:</h6>
                            <p> <%=@service.resource.name%></p>
                        </div>

                        <div class="container row justify-content-start mt-2">
                            <%= form_tag service_events_path do %>
                                <input type="hidden" id="hidden_tag" name="event[student_id]" value="<%=current_student.id%>">
                                <input type="hidden" id="hidden_tag" name="event[service_id]" value="<%=@service.id%>">
                                <div class="form-group row ">
                                    <%=label_tag "Choix du jour", nil, class: "font-weight-bold col-lg-12" %><br>
                                    <%=date_field_tag "event[date]", Date.today, class: "form-control col-lg-10 offset-1" %>
                                </div>
                                <div class="form-group row  d-flex align-items-center">
                                    <%=label_tag "Heure de début", nil, class: "font-weight-bold col-lg-12" %><br>
                                    <%=select_tag "event[hours]", options_for_select(@hours), class: "form-control col-lg-4 offset-1"  %>
                                    <span class="col-lg-2">H</span>
                                    <%=select_tag "event[minutes]", options_for_select(@minutes), class: "form-control col-lg-4" %>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <%=submit_tag "Réserver", class:"btn btn-success btn-circle"%>
                                </div>
                            <% end %>      
                        </div>
                        <div>
                            <p class="mt-4" style="font-size: 0.8em;">* Le calendrier ci-contre affiche les indisponibilités du professeur ET de la salle utilisés par le service</p>
                        </div>
                    </div>  
                </div>
                <div class="col-9">
                    <%= add_weekly_calendar(@events, @teacher, @resource) %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg pb-250 bg-gradient-primary pt-0" style="padding-bottom: 9em !important;box-shadow: 0px -6px 24px 0px rgba(209,209,209,0.75) !important;
">

  <div class="container pt-lg">
      <div class="row" >
          <div class="col-lg-6" >
              <h1 class="display-4 text-white lh-110">Réservez votre créneau</h1>
              <p class="lead mb-4 text-white mt-4"><%=@student.first_name.capitalize%>, un monde de possibilités s'offre à vous.</p>
              <p class="lead mb-4 text-white mt-4">Voici les paramètres choisis pour votre rendez-vous &nbsp; <i class="fas fa-arrow-circle-right"></i></p>

          </div>
          <div class="col-lg-3 mr-3">
            <div class="card" style="width: 16rem;">
                <a href="<%=establishment_path(@establishment)%>" class="text-center" style="height: auto; width: 100%;">
                    <%= image_tag @establishment.avatar.variant(resize: "300x300"), style: "width: 100%; height:auto; border-radius:5px;" %>
                </a>
                <div class="card-body">
                    <a href="<%=establishment_path(@establishment)%>" class="h5 card-title"><%=@establishment.name%></a>
                    <p class="card-text">Établissement</p>
                    <%=link_to "Voir tous les établissements", establishments_path %>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem;" >
            <a href="<%=teacher_path(@teacher)%>" class="text-center" style="height: auto; width: 100%;">
                <%= image_tag @teacher.avatar.variant(resize: "300x300"), style: "width: 100%; height:auto; border-radius:5px;"%>
            </a>
            <div class="card-body">
                <a href="<%=teacher_path(@teacher)%>" class="h5 card-title"><%=@teacher.first_name%> <%=@teacher.last_name%></a>
                <p class="card-text">Professeur</p>
                <%=link_to "Voir tous les professeurs", teachers_path %>
            </div>
        </div>
    </div>

    <div class="shape-container" data-shape-style="curve" data-shape-position="bottom">
        <svg class="shape-fill-white" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="xMidYMax meet" >
            <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
        </svg>
    </div>
    
</div>
</div>
</section>
