<%= week_calendar events: events do |date, events| %>
  
  <% events.each do |event| %>
    <div class="event" style="<%= event_position(event) %> <%= event_height(event) %> width: 75%; display: flex; flex-wrap: wrap;">
      <%if event.student == current_user || event.teacher == current_user || event.resource.establishment == current_user %>
        <%= link_to '<i class="fas fa-info-circle"></i> &nbsp; infos'.html_safe, event_path(event), id: "calendar-link"%>
      <%else%>
        <%= link_to '<i class="fas fa-ban"></i> &nbsp; occupé'.html_safe, nil, id: "calendar-link" %>
      <%end%>
    </div>
  <% end %>
<% end %>


