<!-- Main navbar -->
<nav class="navbar navbar-transparent navbar-light bg-light" style="height: 50px">
    <div class="container">
      <div class="row" style="display: flex; justify-content: space-between; width: 100%">
        <div style="padding-top: 5px;">
            <a  href="<%= root_path %>">
                <%= image_tag "logo-row.png", alt: "logo-row", class: "btn-translate--hover", style: "width: 130px; margin-left: 50px" %>
            </a>
        </div>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto" style="margin-right: 40px">
          <li class="nav-item dropdown dropdown-animate " data-toggle="hover">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle align-items-center btn-translate--hover" style="color: black; font-size: 1.5em"></i></a>
            <div class="dropdown-menu dropdown-menu-md dropdown-menu-arrow" style="width: 170px">
              <div class="list-group">
                <a href="<%= root_path %>" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1">Profil</h6>
                    </div>
                  </div>
                </a>
                <a href="<%= get_logout %>" class="list-group-item list-group-item-action" data-method="DELETE">
                  <div class="media d-flex align-items-center">
                    <div class="media-body ml-3">
                      <h6 class="mb-1"><strong>Déconnexion</strong></h6>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <section class="slice bg-secondary" style="margin-top: -3.5em !important" id="dash">
    <div class="container-fluid">
      <!-- establishment name card -->
      <div class="row row-grid pr-3 ">
        <div class="col-3">

          <div class="card" >
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h5 class="heading h5 mb-0"><%= current_user.first_name %> <%= current_user.last_name %></h5>
                </div>
                <div class="col-4">
                  <div class="card-icon-actions text-right">
                    <a href="<%=edit_establishment_path(current_user)%>" class="favorite active" data-toggle="tooltip" data-original-title="Save to favorites"><i class="fas fa-pen"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- floating menu -->
          <div data-toggle="sticky" data-sticky-offset="100" >
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="mb-0">Dashboard</h6>
                  </div>
                </div>
              </div>
              <div class="list-group list-group-sm list-group-flush">
                <a href="#card-table" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                  <div>
                      <%= image_tag "img/icons/dusk/svg/numbered-list.svg", alt: "float menu icon", class: "avatar", style: "width: 33px" %>
                  </div>
                  <div class="flex-fill pl-3 text-limit">
                    <h6 class="text-sm d-block text-limit">Mes rendez-vous</h6>
                  </div>
                </a>
                <a href="#card-calendar" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                  <div>
                      <%= image_tag "img/icons/dusk/svg/expired.svg", alt: "float menu icon", class: "avatar", style: "width: 33px" %>
                  </div>
                  <div class="flex-fill pl-3 text-limit">
                    <h6 class="text-sm d-block">Mon Calendrier</h6>
                  </div>
                </a>
                <a href="<%=teacher_path(current_user)%>" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                  <div>
                    <%= image_tag "img/icons/dusk/svg/maintenance.svg", alt: "float menu icon", class: "avatar", style: "width: 33px" %>
                  </div>
                  <div class="flex-fill pl-3 text-limit">
                    <h6 class="text-sm d-block text-limit">Mon profil</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
          
        </div>

        <div class="col-9" >

            <!-- CALENDAR -->
            <div class="card" id="card-calendar">
                <div class="card-header">
                    <%= add_weekly_calendar(@events) %>
                </div>
            </div>

            <!-- TABLE -->
            <div class="card mt-4" id="card-table" >
                <div class="card-header border-0">

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                        <h6 class="mb-0">Liste des rendez-vous</h6>
                        </div>
                    </div>

                    <% if current_user.upcoming_events.any? %>
            
                <!-- resources list (table) -->
                    <div class="table-responsive">
                    <table class="table table-hover table-flush align-items-center table-striped">
                        <thead class="thead-light">
                        <tr class="row">
                            <th class="col-1" style="color: rgba(0, 0, 0, 0.596)"> Id </th>
                            <th class="col-2" style="color: rgba(0, 0, 0, 0.596)"> Heure </th>
                            <th class="col-2" style="color: rgba(0, 0, 0, 0.596)"> Durée </th>
                            <th class="col-6" style="color: rgba(0, 0, 0, 0.596)"> Description </th>
                            <th class="col-1" style="color: rgba(0, 0, 0, 0.596)"><i class="fas fa-trash-alt"></i></th>
                        </tr>
                        </thead>
                        <tbody class="container">
                            <% current_user.upcoming_events.each do |event|%>
                            <tr class="row">
                            <td class="col-1" style="height: auto"><span class="font-weight-bold text-sm wrap"><%=event.id%></span></td>
                            <td class="col-2" style="height: auto"><span class="font-weight-bold wrap"><%=Time.at(event.start_time).utc.strftime("%Hh%M")%></span></td>
                            <td class="col-2" style="height: auto"><span class="text-sm wrap"><%= Time.at(event.duration).utc.strftime("%Hh%M") %></span></td>
                            <td class="col-6" style="height: auto"><span class="text-sm wrap"><%=event.name%></span></td>
                            <td class="col-1" style="height: auto"><a href="<%= event_path(event) %>" class="text-light" data-toggle="tooltip" data-original-title="Remove item" data-method="DELETE" data-confirm="Are you sure?" >
                                <i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        <%end%>
                        </tbody>
                    </table>
                    </div>

                    <% else %>

                    <div class="row mt-4 d-flex justify-content-around">
                        
                        <span class="mb-0">Aucun rendez-vous pour le moment !</span>

                        <a href="<%=establishments_path%>" class="btn-sm btn-success btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me" data-scroll-to-offset="40">
                            <span class="btn-inner--text">Voir la liste des écoles</span>
                            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                        </a>

                        <a href="<%=teachers_path%>" class="btn-sm btn-danger btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me" data-scroll-to-offset="40">
                            <span class="btn-inner--text">Voir la liste des écoles</span>
                            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                        </a>

                    </div>

                    <% end %>



                </div>

            </div>
            </div>
        </div>

    </div>
</div>
</section>