<br><br><br><br>
<h1>Voici les <%=@teachers.count%> professeurs affiliés à <%=@establishment.name%></h1>
<%= link_to "< Retour à l'index des écoles", establishments_path, class:"btn btn-link" %>

<div class="row">
  <% @teachers.each do |teacher| %>
    <div class="col-lg-3 d-flex align-items-stretch">
      <div class="card my-3">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title"> 
              Nom : <%=teacher.first_name%> <%= teacher.last_name %>  
            </h5>
          </div>
          <h6 class="card-subtitle mb-2 text-muted"> <strong>Compétences:</strong>
            <%teacher.sub_categories.each_with_index do |sub_cat, ind|%>
              <%unless ind ==0 %>
                <%=" - "%>
              <%end%>
              <%=sub_cat.title%>
              <%end%> </h6>
          <p class="card-text" > <strong>Description</strong>: <%= teacher.description %> </p>
        </div>
        <div class="row">
          <div class="col-lg-1">
            <%= link_to 'Réserver un cours avec moi >', resource_teacher_events_path(@establishment.resources.first, teacher), class:"btn btn-link" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

