<!-- TOP SLICE -->
<section class="slice slice-lg section-rotate">
    <div class="section-inner bg-gradient-info">
        <span class="section-inner-bg"></span>
    </div>

    <!-- main text -->
    <div class="container mt-xl">
        <div class="row align-items-center">
            <div class="col-lg-10 pl-0">
                <h1 class="text-white mb-3">Les Intervenants</h1>
                <p class="lead text-white lh-180">Retrouvez ici tous les intervants inscrits sur AwaBooking !</p>

                <!-- search form -->
                <div class="row align-items-center pt-3">

                    <!-- input field -->
                    <div class="col-6">
                        <%= search_form_for @q do |f| %>
                        <%= f.search_field :first_name_or_last_name_cont, class: "form-control", placeholder: "Trouver un intervenant par nom ou prénom" %>
                    </div>

                    <!-- research button -->
                    <div class="col-3">
                        <%= f.submit "Rechercher", class: "btn-sm btn-circle btn-info" %>
                    </div>
                    <% end %>

                    <!-- all teachers - shows only when research exists -->
                    <% if @q.first_name_or_last_name_cont %>
                    <div class="col-3">
                        <%= link_to "Tous les intervenants", teachers_path, class: "btn-sm btn-circle btn-danger" %>
                    </div>
                    <% end %>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="slice-lg bg-transparent" id="top-index">
    <div class="container mt-5">
        <div class="row">

            <% @ransack.each do |teacher| %>

            <!-- cards -->
            <div class="col-lg-3 pt-5">
                <div class="card overflow-hidden" data-animate-hover="2" id="card-index">

                    <div class="overflow-hidden">
                        <div class="animate-this text-center">

                            <!-- avatar -->
                            <% if teacher.avatar.attached? %>
                            <%= image_tag teacher.avatar, class: "image-size" %>
                            <% else %>
                            <a href="<%= teacher_path(teacher) %>">
                                <%= image_tag ("prof2.jpg"), class: "image-size" %>
                            </a>
                            <%end%>

                        </div>
                    </div>

                    <div class="card-body text-center">

                        <!-- name -->
                        <h5 class="card-title mb-0"><a href="<%= teacher_path(teacher) %>" class="text-dark">
                                <%=teacher.first_name%>
                                <%= teacher.last_name %></a></h5>

                        <!-- services categories -->
                        <p class="text-muted mb-0">
                            <%teacher.sub_categories.each_with_index do |sub_cat, ind|%>
                            <%unless ind == 0 %>
                            -
                            <%end%>
                            <%=sub_cat.title%>
                            <%end%>
                        </p>

                        <!-- see profile -->
                        <div class="mt-3">
                            <a href="<%=teacher_path(teacher.id)%>" class="text-danger">
                                Voir le profil &nbsp; <i class="fas fa-user-circle"></i>
                            </a>

                            <!-- number of services availables -->
                            <hr class="m-2">

                            <!-- no service -->
                            <% if teacher.services.count == 0 %>
                            <a class="text-light">Pas de service disponible</a>

                            <!-- one service  -->
                            <% elsif teacher.services.count == 1 %>
                            <a href="<%=teacher_services_path(teacher.id)%>" class="text-info">
                                <strong> <%= teacher.services.count %> service disponible </strong> &nbsp; <i class="fas fa-angle-right"></i>
                            </a>

                            <!-- several services  -->
                            <% else %>
                            <a href="<%=teacher_services_path(teacher.id)%>" class="text-info">
                                <strong> <%= teacher.services.count %> services disponibles </strong> &nbsp; <i class="fas fa-angle-right"></i>
                            </a>
                            <% end %>

                        </div>

                    </div>

                </div>
            </div>

            <% end %>

        </div>
    </div>
</section>