<%= render 'layouts/show_profile' %>
<%= @user_type %>
  <p><%= @teacher.description %></p>
  <p><%= @teacher.siret %></p>
  <p><%= @teacher.address %></p>
  <p><%= @teacher.email %></p>
  <p><%= @teacher.phone %></p>
  <p><%= @teacher.address %></p>