<!-- CALENDAR -->

<!-- section title -->
<h2 class="heading h4 font-weight-bold">
    <div class="icon icon-sm icon-shape rounded-circle icon-red">
        <i class="far fa-calendar-alt"></i>
    </div>
    &nbsp; Calendrier
</h2>

<!-- resource choice -->
<div class="row align-items-center py-4">

    <!-- current -->
    <div class="col-3 text-center pr-0">
        <h5> <span class="badge badge-lg badge-pill badge-info">Salle - <strong>
                    <%=@resource_calendar.name.upcase%></strong></span></h5>
    </div>
    <!-- dropdown -->
    <div class="col-5 text-center pl-0">
        <%= form_tag(establishment_dashboard_path(@establishment), method: :get) do %>
        <%= select_tag 'search_resource', options_for_select(@resources.collect { |r| [r.name, r.id]}.insert(0, "Afficher le calendrier d'une autre salle")), {class: "form-control form-rounded"} %>
    </div>
    <!-- button -->
    <div class="col-3 text-center">
        <%= submit_tag("Changer de ressource", class: "btn-sm btn-circle btn-outline-info") %>
    </div>
</div>

<% end %>


<!-- weekly calendar call -->
<div class="card" id="card-calendar">
    <div class="card-header">

        <div id="hide-calendar">
            <%= add_weekly_calendar(@resource_calendar.events, nil, nil) %>
        </div>
    </div>
</div>

<hr>

<!-- RESERVATONS TAB -->

<!-- header tab -->
<ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Réservations à venir</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Réservations passées</a>
    </li>

</ul>

<!-- body tab -->
<div class="tab-content" id="myTabContent">

    <!-- UPCOMING events -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="card mt-4" id="card-rdv">
            <div class="card-header border-0">

                <div class="table-responsive container" id="hide-rdv">
                    <table class="table table-flush align-items-center">

                        <!-- thead elements -->
                        <thead class="thead-light">
                            <tr class="row">
                                <th id="resa-table" class="col-auto text-muted"> Date </th>
                                <th id="resa-table" class="col-auto text-muted"> Heure </th>
                                <th id="resa-table" class="col-auto text-muted"> Durée </th>
                                <th class="col-6 text-muted"> Description </th>
                                <th class="col-1 text-muted"><i class="fas fa-trash-alt"></i></th>
                            </tr>
                        </thead>

                        <!-- table body -->
                        <tbody class="container">
                            <% current_user.upcoming_events.each do |event|%>
                            <tr class="row">
                                <!-- "Date" -->
                                <td id="resa-table" class="col-auto h-25"><span class="font-weight-bold text-sm wrap">
                                        <%=(event.start_time).strftime("%d/%m/%Y")%></span></td>
                                <!-- "Heure" -->
                                <td id="resa-table" class="col-auto h-25"><span class="font-weight-bold wrap">
                                        <%=Time.at(event.start_time).strftime("%Hh%M")%></span></td>
                                <!-- "Durée" -->
                                <td id="resa-table" class="col-auto h-25"><span class="text-sm wrap">
                                        <%= Time.at(event.duration).utc.strftime("%Hh%M") %></span></td>
                                <!-- "Description" -->
                                <td class="col-6 h-25"><span class="text-sm wrap">
                                        <%=event.name%></span></td>
                                <!-- "Supprimer" -->

                                <td class="col-1 h-25"><a href="<%= event_path(event) %>" class="text-light"
                                        data-toggle="tooltip" data-original-title="Remove item" data-method="DELETE"
                                        data-confirm="Vous allez supprimer l'évènement '<%=event.name%>'. Veuillez confirmer."><i
                                            class="fas fa-trash-alt"></i></a></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>

    <!-- PAST events -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <!-- shows only if current user as any past events -->
        <% if current_user.past_events.any? %>

        <div class="card mt-4" id="card-rdv">
            <div class="card-header border-0">

                <div class="table-responsive container" id="hide-rdv">
                    <table class="table table-flush align-items-center">

                        <!-- thead elements -->
                        <thead class="thead-light">
                            <tr class="row">
                                <th id="resa-table" class="col-auto text-muted"> Date </th>
                                <th id="resa-table" class="col-auto text-muted"> Heure </th>
                                <th id="resa-table" class="col-auto text-muted"> Durée </th>
                                <th class="col-7 text-muted"> Description </th>
                            </tr>
                        </thead>

                        <!-- table body -->
                        <tbody class="container">
                            <% current_user.past_events.each do |event|%>
                            <tr class="row">
                                <!-- "Date" -->
                                <td id="resa-table" class="col-auto h-25"><span class="font-weight-bold text-sm wrap">
                                        <%=(event.start_time).strftime("%d/%m/%Y")%></span></td>
                                <!-- "Heure" -->
                                <td id="resa-table" class="col-auto h-25"><span class="font-weight-bold wrap">
                                        <%=Time.at(event.start_time).strftime("%Hh%M")%></span></td>
                                <!-- "Durée" -->
                                <td id="resa-table" class="col-auto h-25"><span class="text-sm wrap">
                                        <%= Time.at(event.duration).utc.strftime("%Hh%M") %></span></td>
                                <!-- "Description" -->
                                <td class="col-7 h-25"><span class="text-sm wrap">
                                        <%=event.name%></span></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <hr>

        <% end %>

    </div>

</div>



<hr>