<!-- PARTICIPANT -->

<!-- section title -->
<h2 class="heading h2 font-weight-bold">
    <div class="icon icon-shape rounded-circle icon-green">
        <i class="fas fa-users"></i>
    </div>
    &nbsp; Participants
</h2>

<!-- No participant yet  -->
<% if @participant == [] %>
<div class="mt-4">
    <span class="mb-0"><i class="fas fa-info-circle"></i> &nbsp; Aucun participant référencé pour le moment !</span>
</div>
<% end %>


<!-- cards -->
<div class="row pb-5">

    <% @participant.each do |participant| %>

    <div class="col-lg-3 pt-3">
        <div class="card overflow-hidden" data-animate-hover="2" id="card-index">

            <div class="card-body text-center">

                <!-- name -->
                <h5 class="card-title mb-0">
                    <%= participant.first_name %> <br>
                    <%= participant.last_name.upcase %>
                </h5>

                <!-- registred since -->
                <p class="text-muted m-3">
                    <%= participant.created_at.strftime("Inscrit(e) depuis le %d/%m/%Y") %>
                </p>

                <hr class="m-3">

                <!-- phone number -->
                <p class="text-muted">
                    <i class="fas fa-phone"></i> &nbsp;
                    <%= participant.phone %>
                </p>

                <hr class="m-3">

                <!-- email -->
                <p class="text-muted">
                    <i class="far fa-envelope"></i> &nbsp;
                    <%= participant.email %>
                </p>

                <!-- see profile -->
                <div class="mt-3">
                    <a href="<%= student_path(@participant)%>" class="text-success">
                        Voir le profil &nbsp; <i class="fas fa-user-circle"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <% end %>

</div>

<hr>



<!-- TEACHERS -->

<!-- section title -->
<h2 class="heading h2 font-weight-bold">
    <div class="icon icon-shape rounded-circle icon-yellow">
        <i class="fas fa-chalkboard-teacher"></i>
    </div>
    &nbsp; Intervenants
</h2>

<!-- cards -->
<div class="row pb-5">

    <% @my_teachers.each do |teacher| %>

    <div class="col-lg-3 pt-3">
        <div class="card overflow-hidden" data-animate-hover="2" id="card-index">

            <!-- avatar -->
            <div class="overflow-hidden">
                <div class="animate-this text-center">

                    <% if teacher.avatar.attached? %>
                    <%= image_tag teacher.avatar, class: "image-size" %>
                    <% else %>
                    <a href="<%= teacher_path(teacher) %>">
                        <%= image_tag ("prof2.jpg"), class: "image-size" %>
                    </a>
                    <%end%>

                </div>
            </div>

            <div class="card-body text-center">

                <!-- name -->
                <h5 class="card-title mb-0"><a href="<%= teacher_path(teacher) %>" class="text-dark">
                        <%=teacher.first_name%> <br>
                        <%= teacher.last_name.upcase %></a></h5>

                <!-- services -->
                <p class="text-muted mb-0">
                    <%teacher.sub_categories.each_with_index do |sub_cat, ind|%>
                    <%unless ind == 0 %>
                    -
                    <%end%>
                    <%=sub_cat.title%>
                    <%end%>
                </p>

                <!-- see profile -->
                <div class="mt-3">
                    <a href="<%=teacher_path(teacher.id)%>" class="text-warning">
                        Voir le profil &nbsp; <i class="fas fa-user-circle"></i>
                    </a>
                </div>

            </div>

        </div>
    </div>

    <% end %>

</div>


<hr>


<!-- SERVICES -->

<!-- section title -->
<h2 class="heading h2 font-weight-bold">
    <div class="icon icon-shape rounded-circle icon-blue">
        <i class="fas fa-stream"></i>
    </div>
    &nbsp; Services
</h2>

<!-- cards -->
<div class="row pb-5">

    <% @services.each do |service| %>

    <div class="col-lg-3 pt-3">
        <div class="card overflow-hidden" data-animate-hover="2" id="card-index">

            <div class="card-body text-center">

                <!-- name -->
                <h5 class="h4 mb-4">
                    <a href="<%= service_path(service) %>" class="text-dark">
                        <%=service.name%>
                    </a>
                </h5>

                <div class="mt-3">

                    <!-- duration -->
                    <p class="text-muted mb-2">
                        <i class="far fa-clock"></i>
                        <%=service.duration/60%> min </p>

                    <hr class="m-3">

                    <!-- teacher -->
                    <a href="<%=teacher_path(service.teacher)%>" class="text-muted mb-0">
                        <strong>Professeur</strong> <br>
                        <%=service.teacher.first_name%>
                        <%=service.teacher.last_name.upcase%>
                    </a>

                    <hr class="m-3">

                    <!-- room / resource -->
                    <p class="text-muted">
                        <strong>Ressource</strong><br>
                        <%=service.resource.name%>
                    </p>

                </div>

            </div>

        </div>
    </div>
    <% end %>

</div>