<!-- CURRENT YEAR PARTICIPANTS -->

<!-- section title -->
<h2 class="heading h2 font-weight-bold">
    <div class="icon icon-shape rounded-circle icon-green">
        <i class="fas fa-users"></i>
    </div>
    &nbsp; Participants actuels
</h2>

<!-- No participant yet  -->
<% if @participant == [] %>
<div class="mt-4">
    <span class="mb-0"><i class="fas fa-info-circle"></i> &nbsp; Aucun participant référencé pour le moment !</span>
</div>
<% end %>

<!-- cards -->
<div class="row pb-5">

    <% @participant.each do |participant| %>

    <% if participant.created_at.year == DateTime.now.year %>

    <div class="col-lg-3 pt-3">
        <div class="card overflow-hidden" data-animate-hover="2" id="card-index">

            <div class="card-body text-center">

                <!-- name -->
                <h5 class="card-title mb-0">
                    <%= participant.first_name %> <br>
                    <%= participant.last_name.upcase %>
                </h5>

                <!-- registred since -->
                <p class="text-muted m-3">
                    <%= participant.created_at.strftime("Inscrit(e) depuis le %d/%m/%Y") %>
                </p>

                <hr class="m-3">

                <!-- phone number -->
                <p class="text-muted">
                    <i class="fas fa-phone"></i> &nbsp;
                    <%= participant.phone %>
                </p>

                <hr class="m-3">

                <!-- email -->
                <p class="text-muted">
                    <i class="far fa-envelope"></i> &nbsp;
                    <%= participant.email %>
                </p>

                <!-- see profile -->
                <div class="mt-3">
                    <a href="<%= student_path(@participant)%>" class="text-success">
                        Voir le profil &nbsp; <i class="fas fa-user-circle"></i>
                    </a>
                </div>

            </div>
            
        </div>
    </div>

    <% end %>

    <% end %>

</div>


<!-- PAST YEARS PARTICIPANTS (shows only if existing) -->

<% @participant.each do |participant| %>

<% if participant.created_at.year != DateTime.now.year %>

<!-- section title -->
<h2 class="heading h2 font-weight-bold">
    <div class="icon icon-shape rounded-circle icon-green">
        <i class="fas fa-users"></i>
    </div>
    &nbsp; Participants des années précédentes
</h2>

<!-- cards -->
<div class="row pb-5">

    <div class="col-lg-3 pt-3">
        <div class="card overflow-hidden" data-animate-hover="2" id="card-index">

            <div class="card-body text-center">

                <!-- name -->
                <h5 class="card-title mb-0">
                    <%= participant.first_name %> <br>
                    <%= participant.last_name.upcase %>
                </h5>

                <!-- registred since -->
                <p class="text-muted m-3">
                    <%= participant.created_at.strftime("Inscrit(e) depuis le %d/%m/%Y") %>
                </p>

                <hr class="m-3">

                <!-- phone number -->
                <p class="text-muted">
                    <i class="fas fa-phone"></i> &nbsp;
                    <%= participant.phone %>
                </p>

                <hr class="m-3">

                <!-- email -->
                <p class="text-muted">
                    <i class="far fa-envelope"></i> &nbsp;
                    <%= participant.email %>
                </p>

                <!-- see profile -->
                <div class="mt-3">
                    <a href="<%= student_path(@participant)%>" class="text-success">
                        Voir le profil &nbsp; <i class="fas fa-user-circle"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>

<% end %>

<% end %>