<main class="main">

    <%= render 'dash-nav' %>

    <div class="content-inner content-docs">
        <div class="container-fluid">

            <!-- ACCUEIL -->
            <div class="pt-3 pb-4 mb-4 border-bottom">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="dash-accueil">
                            <br>
                                <%= render 'dash-accueil' %>
                        </div>

                    </div>
                </div>
            </div>

            <!-- RESERVATIONS -->
            <div class="pt-3 pb-4 mb-4 border-bottom">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="dash-resa">
                            <br>
                                <%= render 'dash-resa' %>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PARTICIPANTS -->
            <div class="pt-3 pb-4 mb-4 border-bottom">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="dash-particip">
                            <br>
                                <%= render 'dash-particip' %>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PARAMETRES -->
            <div class="pt-3 pb-4 mb-4 border-bottom">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="dash-param">
                            <br>
                                <%= render 'dash-param' %>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</main>