<div class="col-md-4 mb-5">
    <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">
        <div class="card card-profile border-0 shadow  text-center">
            <div class="card-profile-cover">
                <img alt="Image placeholder" src="../assets/img/prv/team-5-800x400.jpg" class="card-img-top">
            </div>
            <a href="#">
                <img alt="Image placeholder" src="../assets/img/prv/team-5-800x800.jpg" class="card-profile-image avatar shadow">
            </a>
            <% if page_type == 'establishment' %>
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="mb-0"><%= @establishment.name %></h4>
                    <h6 class="mb-0 pt-3">Téléphone</h6>
                    <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
                    <span class="text-muted"><%= @establishment.phone %></span>
                    <h6 class="mb-0 pt-3">Email</h6>
                    <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
                    <span class="text-muted"><%= @establishment.email %></span>
                </div>
                <div class="pt-4 mt-4 delimiter-top">
                    <div class="btn-group shadow rounded-circle">
                        <button class="btn btn-sm btn-primary btn-circle btn-icon">
                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                            <span class="btn-inner--text"><%= link_to 'Modifier mon profil'.html_safe, edit_establishment_registration_path, class: "text-white", id: "btn-group-settings"  %></span>
                        </button> 
                    </div>
                </div>
            </div>
            <% elsif page_type == 'teacher' %>
            <div class="card-body">
                <div class="mb-3">
                    <h6 class="mb-0"><%= @teacher.first_name %> <strong><%= @teacher.last_name %></strong></h6>
                    <h6 class="mb-0 pt-3">Téléphone</h6>
                    <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
                    <span class="text-muted"><%= @teacher.phone %></span>
                    <h6 class="mb-0 pt-3">Email</h6>
                    <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
                    <span class="text-muted"><%= @teacher.email %></span>
                </div>
                <span class="text-muted"><i class="fas fa-map-marker mr-2"></i><%= @teacher.address %></span>
                <div class="pt-4 mt-4 delimiter-top">
                    <div class="btn-group shadow rounded-circle">
                        <button class="btn btn-sm btn-primary btn-circle btn-icon">
                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                            <span class="btn-inner--text"><%= link_to 'Modifier mon profil'.html_safe, edit_teacher_registration_path, class: "text-white", id: "btn-group-settings"  %></span>
                        </button>
                    </div>
                </div>
            </div>
            <% elsif page_type == 'student' %>
            <div class="card-body">
                <div class="mb-3">
                    <h6 class="mb-0"><%= @student.first_name %> <strong><%= @student.last_name %></strong></h6>
                    <h6 class="mb-0 pt-3">Téléphone</h6>
                    <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
                    <span class="text-muted"><%= @student.phone %></span>
                    <h6 class="mb-0 pt-3">Email</h6>
                    <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
                    <span class="text-muted"><%= @student.email %></span>
                </div>
                <div class="pt-4 mt-4 delimiter-top">
                    <div class="btn-group shadow rounded-circle">
                        <button class="btn btn-sm btn-primary btn-circle btn-icon">
                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                            <span class="btn-inner--text"><%= link_to 'Modifier mon profil'.html_safe, edit_student_registration_path, class: "text-white", id: "btn-group-settings"  %></span>
                        </button>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>