<div class="col-md-4 mb-5">
    <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">
        <div class="card card-profile border-0 shadow  text-center">

            <% if page_type == 'establishment' %>
            <div class="card-profile-cover">
                <img alt="Image placeholder" src="../assets/background_establishment_card.jpg" class="card-img-top">
            </div>
            <% if @establishment.avatar.attached? %>
            <a href="#">
                <%= image_tag @establishment.avatar, class: "card-profile-image avatar shadow", style: "height: 150px; width: auto" %>
            </a>
            <% else %>
            <a href="#">
                <img alt="Image placeholder" src="../assets/neutral.jpeg" class="card-profile-image avatar shadow">
            </a>
            <% end %>
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="mb-0">
                        <%= @establishment.name %>
                    </h4>
                    <h6 class="mb-0 pt-3">Téléphone</h6>
                    <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
                    <span class="text-muted">
                        <%= @establishment.phone %></span>
                    <h6 class="mb-0 pt-3">Email</h6>
                    <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
                    <span class="text-muted">
                        <%= @establishment.email %></span>
                </div>
                <% if current_user == @establishment %>
                <div class="pt-4 mt-4 delimiter-top">
                    <div class="btn-group shadow rounded-circle">
                        <button class="btn btn-sm btn-primary btn-circle btn-icon">
                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                            <span class="btn-inner--text">
                                <%= link_to 'Modifier mon profil'.html_safe, edit_establishment_registration_path, class: "text-white", id: "btn-group-settings"  %></span>
                        </button>
                    </div>
                </div>
                <% end %>
            </div>
            <% elsif page_type == 'teacher' %>
            <div class="card-profile-cover">
                <img alt="Image placeholder" src="../assets/background_teacher_card.jpg" class="card-img-top">
            </div>
            <% if @teacher.avatar.attached? %>
            <a href="#">
                <%= image_tag @teacher.avatar, class: "card-profile-image avatar shadow", style: "height: 150px; width: auto" %>
            </a>
            <% else %>
            <a href="#">
                <img alt="Image placeholder" src="../assets/neutral.jpeg" class="card-profile-image avatar shadow">
            </a>
            <% end %>
            <div class="card-body">
                <div class="mb-3">
                    <h6 class="mb-0">
                        <%= @teacher.first_name %> <strong>
                            <%= @teacher.last_name %></strong></h6>
                    <h6 class="mb-0 pt-3">Téléphone</h6>
                    <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
                    <span class="text-muted">
                        <%= @teacher.phone %></span>
                    <h6 class="mb-0 pt-3">Email</h6>
                    <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
                    <span class="text-muted">
                        <%= @teacher.email %></span>
                </div>
                <span class="text-muted"><i class="fas fa-map-marker mr-2"></i>
                    <%= @teacher.address %></span>
                <% if current_user == @teacher %>
                <div class="pt-4 mt-4 delimiter-top">
                    <div class="btn-group shadow rounded-circle">
                        <button class="btn btn-sm btn-primary btn-circle btn-icon">
                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                            <span class="btn-inner--text">
                                <%= link_to 'Modifier mon profil'.html_safe, edit_teacher_registration_path, class: "text-white", id: "btn-group-settings"  %></span>
                        </button>
                    </div>
                </div>
                <% end %>
            </div>
            <% elsif page_type == 'student' %>
            <div class="card-profile-cover">
                <img alt="Image placeholder" src="../assets/background_student_card.jpg" class="card-img-top">
            </div>
            <% if @student.avatar.attached? %>
            <a href="#">
                <%= image_tag @student.avatar, style: "height: 150px; width: auto", class: "card-profile-image avatar shadow" %>
            </a>
            <% else %>
            <a href="#">
                <img alt="Image placeholder" src="../assets/neutral.jpeg" class="card-profile-image avatar shadow">
            </a>
            <% end %>

            <div class="card-body">
                <div class="mb-3">
                    <h6 class="mb-0">
                        <%= @student.first_name %> <strong>
                            <%= @student.last_name %></strong></h6>
                    <h6 class="mb-0 pt-3">Téléphone</h6>
                    <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
                    <span class="text-muted">
                        <%= @student.phone %></span>
                    <h6 class="mb-0 pt-3">Email</h6>
                    <span class="btn-inner--icon"><i class="fas fa-envelope"></i></span>
                    <span class="text-muted">
                        <%= @student.email %></span>
                </div>
                <% if current_user == @student %>
                <div class="pt-4 mt-4 delimiter-top">
                    <div class="btn-group shadow rounded-circle">
                        <button class="btn btn-sm btn-primary btn-circle btn-icon">
                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                            <span class="btn-inner--text">
                                <%= link_to 'Modifier mon profil'.html_safe, edit_student_registration_path, class: "text-white", id: "btn-group-settings"  %></span>
                        </button>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>