<footer class="footer footer-dark bg-gradient-info footer-rotate">
	<div class="container">

		<div class="row pt-md justify-content-md-between">

			<!-- logo -->
			<div class="col-lg-3 mb-5 mb-lg-0">
				<a href="<%= root_path %>">
					<%= image_tag "AwaBookingWhite.png", :alt => "logo", class: "w-75" -%>
				</a>
				<p class="text-sm pt-4">La platerforme de réservation, </br> <strong>partout, pour tous.</strong> </p>
			</div>

			<!-- ...................USER LOGGED IN................... -->

			<% if current_user %>

			<!-- col 1 : explore -->
			<div class="col-lg-3 mb-5 mb-lg-0">
				<h6 class="heading mb-3">Explorez</h6>
				<ul class="list-unstyled">
					<li><a href="#top">Accueil</a></li>
					<li><a href="#above-map">Carte dynamique</a></li>
					<li><a href="#we-do">Notre process</a></li>
				</ul>
			</div>

			<!-- col 2 : user type -->
			<div class="col-lg-3 mb-5 mb-lg-0">

				<!-- student -->
				<% if current_student %>
				<h6 class="heading mb-3">Bienvenue
					<%= current_student.first_name %>
				</h6>
				<ul class="list-unstyled">
					<li><a href="<%= get_profil(current_user) %>">Mon profil</a></li>
					<li><a href="<%= edit_student_registration_path %>">Éditer mon profil</a></li>
					<li><a href="<%= get_dashboard(current_user) %>">Dashboard</a></li>
				</ul>

				<!-- teacher -->
				<% elsif current_teacher %>
				<h6 class="heading mb-3">Bienvenue
					<%= current_teacher.first_name %>
				</h6>
				<ul class="list-unstyled">
					<li><a href="<%= get_profil(current_user) %>">Mon profil</a></li>
					<li><a href="<%= edit_teacher_registration_path %>">Éditer mon profil</a></li>
					<li><a href="<%= get_dashboard(current_user) %>">Dashboard</a></li>
				</ul>

				<!-- establishment -->
				<% elsif current_establishment %>
				<h6 class="heading mb-3">Bienvenue
					<%= current_establishment.name %>
				</h6>
				<ul class="list-unstyled">
					<li><a href="<%= get_profil(current_user) %>">Mon Profil</a></li>
					<li><a href="<%= edit_establishment_registration_path %>">Éditer mon profil</a></li>
					<li><a href="<%= get_dashboard(current_user) %>">Dashboard</a></li>
				</ul>
				<% end %>

			</div>



			<!-- ...................USER LOGGED OUT................... -->

			<% else %>

			<!-- col 1 : student -->
			<div class="col-lg-2 mb-5 mb-lg-0">
				<h6 class="heading mb-3">Particulier</h6>
				<ul class="list-unstyled">
					<li><a href="<%= new_student_session_path %>">Se connecter</a></li>
					<li><a href="<%= new_student_registration_path %>">S'inscrire</a></li>
					<li><a href="#we-do">En savoir plus</a></li>
				</ul>
			</div>

			<!-- col 2 : teacher -->
			<div class="col-lg-2 mb-5 mb-lg-0">
				<h6 class="heading mb-3">Professeur</h6>
				<ul class="list-unstyled">
					<li><a href="<%= new_teacher_session_path %>">Se connecter</a></li>
					<li><a href="<%= new_teacher_registration_path %>">S'inscrire</a></li>
					<li><a href="#we-do">En savoir plus</a></li>
				</ul>
			</div>

			<!-- col 3 : establishment -->
			<div class="col-lg-2 mb-5 mb-lg-0">
				<h6 class="heading mb-3">Établissement</h6>
				<ul class="list-unstyled">
					<li><a href="<%= new_establishment_session_path %>">Se connecter</a></li>
					<li><a href="<%= new_establishment_registration_path %>">S'inscrire</a></li>
					<li><a href="#we-do">En savoir plus</a></li>
				</ul>
			</div>

			<% end %>

			<!-- last col (right) : services -->
			<div class="col-lg-3 mb-5 mb-lg-0">
				<h6 class="heading mb-3">Services</h6>
				<ul class="list-unstyled">
					<li><a href="<%= root_path %>">Tous nous services</a></li>
					<li><a href="<%= teachers_path %>">Tous nous professeur</a></li>
					<li><a href="<%= establishments_path %>">Tous nous établissement</a></li>
				</ul>
			</div>

		</div>

		<!-- bottom - credits + social media -->
		<div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
			<div class="col-md-6">
				<div class="copyright text-sm font-weight-bold text-center text-md-left">
					<strong class="text-white">AwaBooking</strong> <a class="font-weight-light">&copy; 2019</a> - <a class="font-weight-light">All rights reserved.</a>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
					<li class="nav-item">
						<a class="nav-link active" href="https://www.instagram.com/the_hacking_project/" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/lea-lp/Stomy-Booksy" target="_blank">
							<i class="fab fa-github"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://fr-fr.facebook.com/thehackingproject/" target="_blank">
							<i class="fab fa-facebook"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</footer>