<header class="header-transparent">

    <!-- Main navbar -->

    <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-light bg-white pt-2 pb-1"
        id="navbar-main">
        <div class="container">

            <!-- logo -->
            <a href="<%= root_path %>">
                <%= image_tag "AwaBookingWhite.png", alt: "logo", class: "btn-translate--hover w-50", id: "logo-nav" %>
                <%= image_tag "AwaBooking.png", alt: "logo-row", class: "btn-translate--hover w-25 pb-2", id: "logo-nav-row" %>
            </a>

            <!-- small navbar menu -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
                aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center ml-lg-auto pt-1">

                    <!-- ............................USER IN.......................... -->
                    <% if user_signed_in? %>

                    <li class="nav-item dropdown dropdown-animate pr-5" data-toggle="hover">

                        <!-- icon -->
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user-circle" style="font-size: 1.6em"></i>
                            <% if current_establishment %>
                                <%= current_user.name %>
                            <% elsif current_teacher %>
                                <%= current_user.first_name %> <%= current_user.last_name %>
                            <% elsif current_student %>
                                <%= current_user.first_name %> <%= current_user.last_name %>
                            <% end %>
                        </a>

                        <!-- dropdown menu -->
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-arrow">
                            <div class="list-group">

                                <a href="<%= get_dashboard(current_user) %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Dashboard</h6>
                                        </div>
                                    </div>
                                </a>
                                <a href="<%= get_profil(current_user) %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Profil</h6>
                                        </div>
                                    </div>
                                </a>
                                <a href="<%= get_logout %>" class="list-group-item list-group-item-action" data-method="DELETE">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1"><strong>Déconnexion</strong></h6>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </li>


                    <!-- ............................USER OUT.......................... -->
                    <% else %>

                    <!-- LOG IN -->
                    <li class="nav-item dropdown dropdown-animate pr-3" data-toggle="hover">

                        <!-- button -->
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Se connecter</a>

                        <!-- dropdown menu -->
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-arrow">
                            <div class="list-group">

                                <a href="<%= new_student_session_path %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-1">
                                            <h6 class="mb-1"><i class="fas fa-circle btn-translate--hover mr-2 text-success"></i>&nbsp;Particulier</h6>
                                        </div>
                                    </div>
                                </a>
                                <a href="<%= new_teacher_session_path %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-1">
                                            <h6 class="mb-1"><i class="fas fa-circle btn-translate--hover mr-2 text-warning"></i>&nbsp;Professeur</h6>
                                        </div>
                                    </div>
                                </a>
                                <a href="<%= new_establishment_session_path %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-1">
                                            <h6 class="mb-1"><i class="fas fa-circle btn-translate--hover mr-2 text-danger"></i>&nbsp;Établissement</h6>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </li>

                    <!-- SIGN UP -->
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">

                        <!-- button -->
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">S'inscrire</a>

                        <!-- dropdown menu -->
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-arrow">
                            <div class="list-group">

                                <a href="<%= new_student_registration_path %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-1">
                                            <h6 class="mb-1"><i class="fas fa-circle btn-translate--hover mr-2 text-success"></i>&nbsp;Particulier</h6>
                                        </div>
                                    </div>
                                </a>
                                <a href="<%= new_teacher_registration_path %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-1">
                                            <h6 class="mb-1"><i class="fas fa-circle btn-translate--hover mr-2 text-warning"></i>&nbsp;Professeur</h6>
                                        </div>
                                    </div>
                                </a>
                                <a href="<%= new_establishment_registration_path %>" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <div class="media-body ml-1">
                                            <h6 class="mb-1"><i class="fas fa-circle btn-translate--hover mr-2 text-danger"></i>&nbsp;Établissement</h6>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </li>

                    <% end %>

                </ul>

            </div>
        </div>
    </nav>
</header>