<!DOCTYPE html>
<html>
  <head>
    <title>StomyBooksy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/navbar' unless current_page?(get_dashboard(current_user)) %> 
    <%= yield %>
    <%= render 'layouts/footer' unless current_page?(get_dashboard(current_user)) %> 
  </body>
</html>
