<!DOCTYPE html>
<html>
  <head>
    <title>StomyBooksy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/navbar' %> 
    <%= yield %>
    <%= render 'layouts/footer' %> 
  </body>
</html>
